$fuente-primaria: 'Montserrat', sans-serif;
$color-fondo: rgb(1, 0, 23);
$color-fondo2: rgb(9, 0, 32);
$color-btn: #2d2d33;
$color-btn--hover: #3b3b44;
$color-btn--active: #005cb8;
$color-btn--active2: #035cd1;
